# Rust build directory
/target/

# Remove Cargo.lock for libraries, keep it for binaries
# Cargo.lock

# Backup files
**/*.rs.bk

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Debug files
*.pdb

# Generated resources
compiled.gresource

# Environment files
.env
.env.local

# OS specific files
.DS_Store
Thumbs.db
/packaging/gtk
/packaging/vulkan
/packaging/mindhunt
/packaging/*.zip
*.local.*
*.local
./app.res
/packaging/*.exe
*.tar.xz


profile.json.gz
*.deb
*.exe
packaging/mindhunt-deb/usr/bin/
packaging/mindhunt-deb/usr/share/icons/
packaging/flatpak/repo/
packaging/flatpak/builder/
*.flatpak
.flatpak-builder/
packaging/windows/mindhunt/
packaging/windows/gtk/
packaging/windows/vulkan/
packaging/windows/*.zip
artifacts/
